.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/node_modules
/storage/*.key
/vendor

# ENV
.env
.env.backup

## Public
/public/css
/public/js
/public/hot
/public/storage